<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:th="http://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome!</h1>
    <hr>
    <p>
        User: <span sec:authentication="principal.user"></span><br>
        Role: <span sec:authentication="principal.authorities"></span><br>
    </p>
    <a th:href="@{/leaders}">Leadership Meeting</a>(Only for Manager peeps)
    <a th:href="@{/systems}">Admin Meeting</a>(Only for Admin peeps)
    <form th:action="@{/logout}" method="post">
        <button class="btn btn-danger" type="submit">Logout</button>
    </form>
</body>
</html>