<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Leaders</title>
</head>
<body>
    <h1>Leaders Home Page!</h1>
    <hr>
    <p>
        Some one is special so we must quiet. Don't do anything! Syssss!
    </p>
    <a th:href="@{/}">Back to Home</a>
    <form th:action="@{/logout}" method="post">
        <button class="btn btn-danger" type="submit">Logout</button>
    </form>
</body>
</html>