<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<link rel="stylesheet" href="Content.css" type="text/css">
</head>

<body>
<div id="content">
      <form id="fr_search">
          <input type="text" name="search"> <button type="submit">Search</button>
      </form>
      
      <div class="slider">
        <img src="../Images/slide-3-01-47.jpg" />
        
        <div class="nivo-caption" style="display: block;">
            <h3>Detroit: An American Autopsy <span>by Charlie LeDuff</span></h3>
            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore aliqua.</p>
            <div class="price">Price: 18.96</div>
            <a href="">Shop now!</a><p></p>
        </div>
      </div>
      
      
      
	</div>
</body>
</html>
