/* CSS Document */
*{
	padding:0;
	margin:0;
	border:0;
	outline:0;
	font-size:100%;
	/*outline:1px solid #00FFFF;*/
}

#left_menu{
	width:23%;
}
#categories{
	padding: 18px 0px 18px 15px;
	background-color:#559900;
	border-radius:10px;
}

#categories span{
	font-family:Arial, Helvetica, sans-serif;
	font-size:2em;
	font-weight:bold;
	color:#FFFFFF;	
}

#menu_custom{
	list-style:none;
	margin-top:20px;
	margin-left:0px;
}
#menu_custom li{
	margin-bottom:1px;
}
#menu_custom li ul{
	display:none;	
}
#menu_custom a{
	display:block;
	padding:14px 10px 14px 0px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:17px;
	line-height:20px;
	text-decoration:none;
	background-image:linear-gradient(to bottom,#ffffff 0,#f5f5f5 100%);
	border-radius: 8px;
	box-shadow: 1px 5px 5px #888888;
	color:black;
}
#menu_custom a:before{
	content:url(../Images/Bullet_right.svg);
	margin-left:14px;
	vertical-align:middle;
}

